#menu{
	position: fixed;
	top: 0px;
	width: 100%;
	padding-top: 0;
	margin-top: 0;
	font-family: FreeMono, monospace;
	background-color: cadetblue;
	z-index: 1000;
}

.fb-like{
	z-index: 999;
}

body{
	background-color: rgb(146, 217, 219);
	margin: 0;
	background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


li {
	display: inline;
}

li.menu{
	background-color: cadetblue;
	float: left;
}


ul {
	margin: 0;
	padding: 0;
	align-self: center;
  }
  
  
li a {
	display: block;
	color: white;
	text-align: center;
	height: 6%;
	padding: 14px 16px;
	text-decoration: none;
  }

li a:hover {
	background-color: rgb(139, 169, 170);
  }

table.answers{
	margin-top: 15px;
	width: 80%;
	border:2px solid cadetblue;
	border-collapse: collapse;
}

tr{
	margin-top: 5px;
	margin-bottom: 5px;
}

th{
	font-weight: normal;
	background:cadetblue;
	color: white;
}

#covid:visited{
	color: black;
}
#covid:active{
	color: rgb(23, 77, 99);
}
#covid:link{
	color: rgb(24, 91, 117);
}


section{
	border:1px solid white;
	border-radius: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
	direction: rtl;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 50px;
	margin: 40px;
	text-align:center;
  }

h1{
	color: rgb(83, 146, 148);
	font-family: FreeMono, monospace;
	font-size: 250%;
	margin: 10px;
}

img{
	width: 200px;
	height: 200px;
	margin: 20px;
	border: solid 5px rgb(190, 216, 224);
}

img.like{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: solid 2px rgb(190, 216, 224);
}