#menu{
	position: fixed;
	top: 0px;
	width: 100%;
	padding-top: 0;
	margin-top: 0;
	font-family: FreeMono, monospace;
	font-size: 18px;
	background-color: cadetblue;
	z-index: 1000;
}

#big_logo{
	margin-top: 90px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

#small_logo{
	float: right;
	margin: 10px;
	height: 35px;
	z-index: 1001;
}

.fb-like{
	z-index: 999;
}

body{
	background-color: rgb(146, 217, 219);
	margin: 0;
	background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


li {
	display: inline;
}

li.menu{
	background-color: cadetblue;
	float: left;
}


ul {
	margin: 0;
	padding: 0;
	align-self: center;
  }
  
  
li a {
	display: block;
	color: white;
	text-align: center;
	height: 26px;
	padding: 14px 16px;
	text-decoration: none;
  }

li a:hover {
	background-color: rgb(139, 169, 170);
  }

table.answers{
	font-size: 15px;
	margin-top: 15px;
	width: 80%;
	border:2px solid cadetblue;
	border-collapse: collapse;
}

tr{
	margin-top: 5px;
	margin-bottom: 5px;
}

th{
	font-weight: normal;
	background:cadetblue;
	color: white;
}

td{
	padding: 4px;
}
td.line{
	padding: 1px;
}

#covid:visited{
	color: black;
}
#covid:active{
	color: rgb(23, 77, 99);
}
#covid:link{
	color: rgb(24, 91, 117);
}


section{
	border:1px solid white;
	border-radius: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	direction: rtl;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 50px;
	margin: 40px;
	text-align:center;
  }

h1{
	color:#2D3185;
	font-family: FreeMono, monospace;
	font-size: 250%;
	margin: 10px;
	text-decoration: underline;
	text-decoration-color: white;
}

img.photos{
	width: 200px;
	height: 200px;
	margin: 20px;
	border: solid 5px rgb(190, 216, 224);
}

img.qr{
	width: 220px;
	height: 220px;
	margin: 20px;
	border: solid 5px rgb(190, 216, 224);
}

img.like{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: solid 2px rgb(190, 216, 224);
}

form {
	direction: ltr;
	background: #fff;
	box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
	border-radius: 5px;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	left: 0;
	right: 0;
	border-top: 6px solid #afd6dd;
	animation: bounce 1.5s infinite;
  }


input {
	border-radius: 4px;
	border: 2px solid #afd6dd;
	background-color: transparent;
	color: white;
	font-family: monospace;
	width: 400px;
	height: 25px;
	margin: 5px;
	color: black;
  }
input:hover {
	background-color: #ebebeb;
	border-bottom: 4px solid #afd6dd;
	height: 30px;
	width: 400px;
	transition: ease 0.5s;
	
}

textarea{
	font-family: monospace;
	border: 2px solid #afd6dd;
	border-radius: 4px;
	margin: 5px;
	background: transparent;
	width: 400px;
	height: 150px;
	color: black;
}

div.emojionearea-editor{
	font-family: monospace!important;
	border: 2px solid #afd6dd!important;
	border-radius: 4px!important;
	margin: 5px!important;
	background: transparent!important;
	width: 400px!important;
	height: 150px!important;
	color: black!important;
}

div.emojionearea-editor:hover {
	background-color: #ebebeb!important;
	border-bottom: 4px solid #afd6dd!important;
	height: 160px!important;
	width: 400px!important;
	transition: ease 0.5s!important;
}

.button{
	font-family: monospace;
	transition-duration: 0.4s;
	border-radius: 4px;
	border: 2px solid #a9c5ca;
	color: black;
	width: 100px;
	margin-bottom: 15px;
	height: 30px;
	width: 100px;
}

.button:hover{
	background-color: #afd6dd;
	height: 30px;
	width: 100px;
	border-bottom: 2px solid #afd6dd;
}

